stages:
  - deploy

publish_component:
  stage: deploy
  rules:
    - if: $CI_COMMIT_TAG =~ /^v\d+\.\d+\.\d+$/
  script:
    - python3 -m pip install --user idf-component-manager
    - python3 -m compote component upload --name hotreload --namespace igrr --version ${CI_COMMIT_TAG#v}
